<div class="bg-login">
	<!--wrapper-->
	<div class="wrapper">
		<div class="d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="col mx-auto">
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="mb-4 text-center">
										<img src="assets/images/logo.png" width="120" class="rounded-circle" />
									</div>
									<div class="text-center">
										<h3 class="">Registro</h3>
										<p>Ya tienes una cuenta? <a href="JavaScript:;" (click)="onSignIn()">Inicia
												sesión aquí</a>
										</p>
									</div>
									<div class="form-body">
										<form class="row g-3" [formGroup]="form" (submit)="save()">
											<div class="col-12">
												<label for="inputEmailAddress" class="form-label">Correo
													electrónico</label>
												<input type="email" class="form-control" id="email"
													formControlName="email" placeholder="example@user.com">
											</div>
											<div class="col-12">
												<label for="inputChoosePassword" class="form-label">Contraseña</label>
												<div class="input-group" id="show_hide_password">
													<input [type]="!showPassword?'password':'text'"
														class="form-control border-end-0" id="password"
														formControlName="password" placeholder=" Enter Password">
													<a (click)="showPassword = !showPassword"
														class="input-group-text bg-transparent">
														<i class='bx bx-hide'></i>
													</a>
												</div>
											</div>
											<select class="form-select" aria-label="Default select example" formControlName="idRole">
												<option selected>Seleccione su rol</option>
												<option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
											  </select>
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-primary"><i
															class='bx bx-user'></i>Aceptar</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
</div>